In [1]:
import pandas as pd

In [14]:
data_khoa_hoc = pd.read_csv("data/Kiến Thức - Khoa Học.csv")
data_khoa_hoc['Thể loại'] = 'Kiến Thức - Khoa Học'
data_manga = pd.read_csv("data/Manga_Comic.csv")
data_manga['Thể loại'] = 'Manga_Comic'
data_truyen_tranh = pd.read_csv("data/Truyện tranh thiếu nhi.csv")
data_truyen_tranh['Thể loại'] = 'Truyện tranh thiếu nhi'
data_nuoc_ngoai = pd.read_csv("data/Văn học nước ngoài.csv")
data_nuoc_ngoai['Thể loại'] = 'Văn học nước ngoài'
data_VietNam = pd.read_csv("data/Văn học Việt Nam.csv")
data_VietNam['Thể loại'] = 'Văn học Việt Nam'
df = pd.concat([data_khoa_hoc, data_manga, data_nuoc_ngoai, data_truyen_tranh, data_VietNam], ignore_index=True)
df.head()

,Tên sách,Giá,Đã bán,Đánh giá,Link hình ảnh,Thể loại
0,Sách - Nào mình cùng vẽ - Rừng xanh bí ẩn,36000,2,5.0,https://down-vn.img.susercontent.com/file/vn-1...,Kiến Thức - Khoa Học
1,Sách - Nào mình cùng vẽ - Khám phá đại dương,36000,2,5.0,https://down-vn.img.susercontent.com/file/vn-1...,Kiến Thức - Khoa Học
2,Sách - Kim Đồng - STEM - Học viện.. ( Bộ 6 Cuố...,81000,20,5.0,https://down-vn.img.susercontent.com/file/vn-1...,Kiến Thức - Khoa Học
3,Kim Đồng - Sách - Cách trí giáo khoa thư,61200,5,5.0,https://down-vn.img.susercontent.com/file/vn-1...,Kiến Thức - Khoa Học
4,Kim Đồng - Sách - Bật mí tất tần tật về bạn thân,54000,6,5.0,https://down-vn.img.susercontent.com/file/vn-1...,Kiến Thức - Khoa Học

In [15]:
df.duplicated(subset='Tên sách').sum()

0

In [16]:
df[df.duplicated(subset='Tên sách')]

Empty DataFrame
Columns: [Tên sách, Giá, Đã bán, Đánh giá, Link hình ảnh, Thể loại]
Index: []

In [10]:
i = 1
for x in [data_khoa_hoc, data_manga, data_nuoc_ngoai, data_truyen_tranh, data_VietNam]:
    print(i)
    print(x.info())
    i = i+1

1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tên sách       31 non-null     object
 1   Giá            31 non-null     int64
 2   Đã bán         31 non-null     int64
 3   Đánh giá       31 non-null     float64
 4   Link hình ảnh  31 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.3+ KB
None
2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tên sách       46 non-null     object
 1   Giá            46 non-null     int64
 2   Đã bán         46 non-null     int64
 3   Đánh giá       46 non-null     float64
 4   Link hình ảnh  46 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.9+ KB
None
3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tên sách       18 non-null     object
 1   Giá            18 non-null     int64
 2   Đã bán         18 non-null     int64
 3   Đánh giá       18 non-null     float64
 4   Link hình ảnh  18 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 848.0+ bytes
None
4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tên sách       24 non-null     object
 1   Giá            24 non-null     int64
 2   Đã bán         24 non-null     int64
 3   Đánh giá       24 non-null     float64
 4   Link hình ảnh  24 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.1+ KB
None
5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tên sách       24 non-null     object
 1   Giá            24 non-null     int64
 2   Đã bán         24 non-null     int64
 3   Đánh giá       24 non-null     float64
 4   Link hình ảnh  24 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.1+ KB
None